@import url(iframe.css);

body {background-color: #384357;}
a:hover, a:focus {text-decoration: none;}

.header {padding: 35px 0px;}
.header .brand {color: #F5F5F5;}
.header .brand h1 {margin: 0px 0px 15px;}
.header .brand h4 {margin: 0px;}
.header .menu {float: right;}
.header .menu li a,
.header .menu li a:focus {color: #F5F5F5; background-color: transparent;}
.header .menu li a:hover {color: #384357; background-color: #FFF;}
.header .menu li a i {font-size: 54px;}

.panel-app {padding: 15px; box-shadow: 0 0 6px #384357 inset; border: 0px;}
.panel-app .tools {background-color: #384357; color: #FFF; border-radius: 4px; padding: 15px;}

.panel-film {border-color: #384357;}
.panel-film .panel-heading,
.panel-film .panel-footer {background-color: #384357; border-color: #384357; color: #F5F5F5;}
.panel-film .panel-body,
.panel-film .panel-footer  {padding: 0px;}
.panel-film .panel-footer .input-group {padding: 10px;}

.btn.btn-app {background-color: transparent; border-color: #F5F5F5;}
.btn.btn-app:hover,
.btn.btn-app:focus {background-color: #F5F5F5;}

.alert {color: #F5F5F5;}
.alert.alert-info {background-color: #3498DB; border: 0px;}
.alert.alert-success {background-color: #18BC9C; border: 0px;}
.alert.alert-danger {background-color: #E74C3C; border: 0px;}
.alert.alert-warning {background-color: #F39C12; border: 0px;}