#yukleniyor {width:100%; height: 100%; background: rgba(255,255,255,.90); z-index: 999; position:fixed; top: 0;left:0;display:none;z-index:999999;}
#yukleniyor span {position: absolute; top: 50%; left: 50%; margin: -40px 0 0 -40px;}
.alert {display: none;}
#sonuc .poster img {padding: 5px; background: #fff; border: 1px solid #eee; border-radius: 3px; width:215px;}
#sonuc .poster {width:215px; height: 310px;float:left;margin-right:15px;}
#sonuc .poster .puan {background: url(img/puan.png) no-repeat; height: 95px; width: 95px; float:right; position: relative; top: -100px; color: #fff; text-shadow: 1px 1px 3px #333; font-size:26px; font-weight: 600; padding: 30px 10px 0; text-align:center;}
#sonuc .bilgiler {width:100%;min-height:320px;}
#sonuc .oyuncular {width:100%;}
#sonuc .oyuncular ul {padding: 0; margin: 0; list-style: none}
#sonuc .oyuncular ul li {float:left; width: 120px; margin-right:8px; text-align:center}
#sonuc .oyuncular ul li:last-child {margin-right:0;}
#sonuc .oyuncular ul li img.profil {width: 120px; margin-bottom:8px; padding: 3px; background: #fff; border: 1px solid #eee;height:130px}
#sonuc .oyuncular ul li a {font-weight: 600; color: #333}
small {padding-top:5px}